* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.home {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.home .item-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-evenly;
  gap: 10px;
  margin: auto 5%;
  margin-top: 270px;
}

@media screen and (max-width: 1280px) {
  .home .item-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 970px) {
  .home .item-container {
    grid-template-columns: 1fr 1fr;
    margin-top: 200px;
  }
}
@media screen and (max-width: 650px) {
  .home .item-container {
    grid-template-columns: 1fr;
    margin-top: 100px;
  }
}
