.item {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  height: 350px;
  width: 300px;
  background-color: white;
  margin: 10px auto;
}

.item a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item > a > img {
  width: 80;
  height: 180px;
}

.item h4,
.item h5 {
  margin-left: 45px;
}

.item h4 {
  font-weight: 600;
}

.item h5 {
  font-weight: 500;
}

@media screen and (max-width: 375px) {
  .item {
    width: 250px;
    height: 300px;
  }
}
